:root{
    --primary-color:#343434;
    --secondary-color: #ffffff;
    --gray:#5b5b5b;
    --transition-duration: .5s;
}
@media screen and (max-width:992px){

    nav ul li a::after{
       left: 0;
    }
    .navbar li.nav-item.active a::after{
        width: 100%;
    }
    .toggler{
        display: block;
    }
    .toggler span{
        color: var(--primary-color) !important;
    }
    nav.navbar{
        background-color: var(--secondary-color) !important;
    }
    nav.navbar ul li a{
        color: var(--primary-color) !important;
        text-align: center;
        display: inline-block;
    }
    nav.navbar ul{
        margin: 0 !important;
        text-align: center;
        border-top: 1px solid #eee;
    }
    nav .logo{
        color: var(--primary-color) !important;
        margin: 0 !important;
    }
    section.contact .contact-info{
        padding: 0 !important;
    }
}
@media screen and (max-width:776px){
    section.home .home-content h1{
        font-size: 2rem;
    }
    .container{
        width: 100% !important;
    }
}